/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

img {
    max-width: 100%;
}

/* header section styles */
header {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 190px;
    align-items: center;
    padding: 30px 125px 0px 125px;
}

.head-content {
    text-align: left;
}

.head-content h1 {
    font-size: 44px;
    color: #272727;
    font-weight: 800;
    margin-bottom: 20px;
}

.head-content p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    padding: 5px 0;
}


.btn-pr {
    margin-top: 13px;
    border-radius: 6px;
    background: #E55473;
    color: white;
    border: none;
    padding: 10px 20px;
}

.head-image img {
    max-width: 100%;
}


/* bonush section styles */

.bonus-section {
    text-align: center;
    padding: 10px 125px;
    margin-top: 100px;
    margin: auto;
}

.bonus-section h3 {
    font-weight: 800;
    text-align: center;
    font-size: 35px;
    color: #272727;
    margin-bottom: 17px;
    margin-top: 100px;

}

.bonus-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 50px;
}

.bonus-image {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.bonus-image img {
    width: 150px;
    height: 210px;
}

.imgb1 {
    width: 250px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.b-image1 {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 {
    background: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 5px 5px;
}

.img2 {
    border-radius: 200px 200px 5px 5px;
    background: rgba(5, 151, 160, 0.15);
}

.img3 {
    border-radius: 200px 200px 5px 5px;
    background: rgba(71, 125, 17, 0.15);
}

.bonus-image a {
    color: #272727;
    margin-top: 10px;
    font-weight: 700;
    font-size: 15px;

}

/* optional section style */
.optional-section {
    padding: 40px 125px 30px 125px;
}

.optional {
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 5px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 50px 40px;
    text-align: center;

}

.optional img {
    width: 80px;
}

.optional p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;

}

/* hot deal */
section {
    padding: 40px 125px 30px 125px;
    background-color: rgba(229, 84, 115, 0.05);
}

.hot-deal {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 70px;
}

.hot-deal-content h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.hot-deal-content p {
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    margin: 15px 0;
}

/* main section start */
main {
    padding: 40px 125px 30px 125px;
}

/* instagram section */
.instagram-section {
    text-align: center;
    margin-top: 70px;

}

.instagram-section h3 {
    font-size: 30px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 15px;
}

.instagram-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

.insta-image {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 30px;
}

.insta-image img {
    width: 200px;
    height: auto;
}

/* latest deals section */
.latest-deals {
    margin-top: 60px;
    text-align: center;
    background-image: url("./Flower\ Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 20px;
}

.latest-deals h2 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

.latest-deals p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;

}

.latest-deals .mail {
    border: none;
    border-radius: 8px;
    background: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 140px;
    margin-right: 8px;
}

/* footer style */

footer {
    background-color: #111010;
    color: white;
    text-align: center;
    padding: 70px 0;
}

footer h2 {
    font-weight: 800;
    font-size: 35px;
    margin: 15px 0;
}

footer span {
    color: #E55473;
    font-weight: 800;
    font-size: 35px;
}

footer p {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 12px;
}
footer small{
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
    font-size: 11px;
}